# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
*.egg-info
test.py





#docker
.dockerignore
docker-compose.debug.yml
docker-compose.yml
.devcontainer

#pycache
__pycache__
*.pyc
.pytest_cache

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
dummy


#vscode
.vscode


