# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
*.egg-info
*split_images_by_format.py
upload_gd.py
test.py
*.json
.txt
*.pyc
*.env
data_processing/
__pycache__

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
Data/
dummy
HAT/

