# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
streatlit_dung.py
.settings/
*.egg-info
test.py
*.json
.txt
*.pyc
*.env
__pycache__
dummy_rmbg.py
streamlit_demo.py
streamlit_folder.py
Data_processing/
.pytest_cache
.dockerignore
docker-compose.debug.yml
docker-compose.yml




# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
Data/
dummy
HAT/

#vscode
.vscode


